---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: blue
  labels:
    app: myapp
    version: "1.00"
spec:
  replicas: 1
  selector:
    app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: awony/capstone
        ports:
        - name: http-server
          containerPort: 80
